:root {
    --cielo: rgb(27, 109, 231);
    --pasto: rgb(31, 192, 31);
}

body {
    margin: 0;
}

#cielo {
    background-color: var(--cielo);
    width: 100%;
    height: 30rem;
}

#pasto {
    background-color: var(--pasto);
    width: 100%;
    height: 11rem;
}